<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-user"></i>&nbsp;Users#bookmarks</h2>
  </div>

  <div class="row">

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-5">トピック名</th>
          <th class="col-md-2">コメント数</th>
          <th class="col-md-3">コミュニティ名</th>
          <th class="col-md-2">タグ</th>
        </tr>
      </thead>
      <tbody>
        <% @bookmarks.each do |bookmark| %>
          <tr>
            <td>
            <% unless bookmark.topic.end_user.is_deleted %>
              <%= link_to bookmark.topic.title, community_topic_path(bookmark.topic.community,bookmark.topic) %>
            <% else %>
              <%= bookmark.topic.title %><br><small>※このトピックは投稿したユーザーが利用停止中のため、閲覧できません</small>
            <% end %>
            </td>
            <td><%= "#{bookmark.topic.topic_comments.count}" + "コメント" %></td>
            <td><%= link_to bookmark.topic.community.name, community_path(bookmark.topic.community) %></td>
            <td>
              <% bookmark.topic.community.tags.each do |tag| %>
                <%= "#" + tag.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>