<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-users"></i>&nbsp;新着ユーザー</h2>
  </div>

  <div class="row">
    <% @end_users.each do |end_user| %>
      <div class="col-md-3 shadow p-3">
        <%= image_tag end_user.get_profile_image(200, 200), class:"d-block mx-auto img-thumbnail" %>
        <div class="p-3">
          <h4 class="text-center"><%= link_to end_user.nickname, end_user_path(end_user) %></h4>
          年齢：<%= (end_user.age).to_s + "歳" %><br>
          性別：<%= end_user.sex_i18n %><br>
          活動エリア：<%= end_user.activity_area_i18n %><br>
          <i class="fas fa-tag"></i>
          <% end_user.personal_tags.each do |personal_tag| %>
            &nbsp;<%= "#" + personal_tag.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
