<div class="container">
  <div class="row justify-content-end m-4">
    <div class="col-md-6">
      <%= render 'public/searches/user_search_form' %>
    </div>
  </div>

  <div class="row m-4">
    <h2><i class="fas fa-users"></i>&nbsp;新着ユーザー</h2>
  </div>

  <div class="row">
    <% @end_users.each do |end_user| %>
      <% unless end_user.guest_user? %>
        <div class="col-md-3 mb-3" >
          <div class="card shadow">
            <%= image_tag end_user.get_profile_image(180, 180), class:"card-img-top p-1" %>
            <div class="card-body">
              <h4 class="card-title text-info"><%= end_user.nickname %></h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">年齢：<%= (end_user.age).to_s + "歳" %></li>
              <li class="list-group-item">性別：<%= end_user.sex_i18n %></li>
              <li class="list-group-item">活動エリア：<%= end_user.activity_area_i18n %></li>
              <li class="list-group-item"><i class="fas fa-tag"></i>
                <% end_user.personal_tags.each do |personal_tag| %>
                  <%= link_to "#{"#" + personal_tag.name}", search_personal_tag_end_user_path(personal_tag) %>
                <% end %>
              </li>
            </ul>
            <div class="card-body">
              <%= link_to '詳細をチェック', end_user_path(end_user), class:"btn btn-info" %></h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
