<div class="container py-5">
  <div class="row m-4">
    <h3><i class="fas fa-bookmark"></i>&nbsp;<%=@end_user.nickname %>&nbsp;さんのマイコミュニティ</h3>
  </div>
  <div class="bg-white rounded">
    <ul class="nav nav-tabs nav-fill nav-pills">
      <li class="nav-item">
        <a href="#contents1" class="nav-link active" data-toggle="tab">参加中のコミュニティ</a>
      </li>
      <li class="nav-item">
        <a href="#contents2" class="nav-link" data-toggle="tab">作成したコミュニティ</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="contents1" class="tab-pane active">
        <%= render 'public/communities/community_list3', communities: @join_communities %>
        <%= paginate @join_communities, :param_name => 'join' %>
      </div>
      <div id="contents2" class="tab-pane">
        <%= render 'public/communities/community_list3', communities: @owner_communities %>
        <%= paginate @owner_communities, :param_name => 'owner' %>
      </div>
    </div>
  </div>
</div>