<div class="container">
  <div class="row m-4">
    <h2>タグが&nbsp;"<%=@tag.name%>"&nbsp;のユーザー一覧</h2>
  </div>

  <div class="row">
    <div class="col-md-12 mt-2">
      <% @tag_list.each do |list|%>
        <%=link_to "#{ "#" + list.name}", search_personal_tag_end_user_path(list) %>
        <%="(#{list.end_users.count})" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-12 mt-2">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-2 text-center">ニックネーム</th>
              <th class="col-md-2">マイタグ</th>
              <th class="col-md-6">自己紹介</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @end_users.each do |user| %>
              <% if user.active_for_authentication? %>
                <tr>
                  <td class="align-middle text-center">
                    <%= link_to end_user_path(user.id) do %>
                      <%= image_tag user.get_profile_image(50, 50), class: "rounded-circle" %><br>
                      <%= user.nickname %>
                    <% end %>
                  </td>
                  <td class="align-middle">
                    <% user.personal_tags.each do |tag| %>
                      <li class="list-unstyled"><%= "#" + tag.name %></li>
                    <% end %>
                  </td>
                  <td class="align-middle"><%= user.introduction.truncate(35) %></td>
                  <td class="align-middle">
                    <% unless current_end_user.guest_user? || current_end_user == user %>
                      <% if user.followed_by?(current_end_user) %>
                        <%=link_to "フォロー中", end_user_relationships_path(user.id), method: :delete, class: "btn btn-light", style:"width: 100%"  %>
                      <% else %>
                        <%=link_to "フォローする", end_user_relationships_path(user.id), method: :post, class: "btn btn-primary", style:"width: 100%" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
