<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-user"></i>&nbsp;マイページ</h2>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-3">

      <%= image_tag @end_user.get_profile_image(220, 220), class:"d-block mx-auto img-thumbnail" %>

      <div class="row justify-content-center mt-3">
        <div>
          <i class="fas fa-bookmark"></i><%= link_to "ブックマーク(#{@end_user.bookmarks.count})",bookmark_end_user_path(@end_user) %>&nbsp;
          <i class="fas fa-user"></i><%= link_to "フォロワー(#{@end_user.followers.count})",follower_end_user_path(@end_user) %>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <% if (@end_user == current_end_user) && (@end_user.last_name != "guest") %>
          <%= link_to '編集する', edit_end_user_path(@end_user), class: "btn btn-danger", style:"width: 65%"%>
        <% elsif current_end_user.last_name != "guest" %>
          <% if @end_user.followed_by?(current_end_user) %>
            <%= link_to 'フォロー中', end_user_relationships_path(@end_user), method: :delete, class: "btn btn-light", style:"width: 65%" %>
          <% else %>
            <%= link_to 'フォローする', end_user_relationships_path(@end_user), method: :post, class: "btn btn-primary", style:"width: 65%" %>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="col-md-8 border">
      <table class="table table-borderless table-sm m-3">
        <tr>
          <th class="col-md-3">名前</th>
          <td><%= @end_user.last_name %><%= @end_user.first_name %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @end_user.nickname %></td>
       </tr>
        <tr>
          <th>年齢</th>
          <td><%= (@end_user.age).to_s + "歳" %></td>
        </tr>
        <tr>
          <th>性別</th>
          <td><%= @end_user.sex_i18n %></td>
        </tr>
        <tr>
          <th>主な活動エリア</th>
          <td><%= @end_user.activity_area_i18n %></td>
        </tr>
        <tr>
          <th>マイタグ</th>
          <td>
            <% @end_user.personal_tags.each do |personal_tag| %>
              &nbsp;<%= link_to "#{"#" + personal_tag.name}", search_personal_tag_end_user_path(personal_tag) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= safe_join(@end_user.introduction.split("\n"), tag(:br)) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-3">
        <h4 class="ml-5">所属コミュニティ</h4>
      </div>
    </div>

    <div class="row mt-3">
      <% @end_user.communities.each do |community| %>
        <div class="col-md-2 shadow p-3 ml-5">
          <%= link_to community_path(community) do %>
            <%= image_tag community.get_community_image(150, 150), class:"d-block mx-auto img-thumbnail" %>
            <h4 class="text-center mt-3"><%= community.name %></h4>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>