<div class="container py-5">
  <div class="row m-4">
    <% if @end_user == current_end_user %>
      <h3><i class="fas fa-user"></i>&nbsp;マイページ</h3>
    <% else %>
      <h3><i class="fas fa-user"></i>&nbsp;<%= @end_user.nickname %> さんのプロフィール</h3>
    <% end %>
  </div>
  <div class="row justify-content-around">
    <div class="col-lg-4 col-md-9 col-12 mb-3">
      <div><%= image_tag @end_user.get_profile_image(500, 500), class:"img-thumbnail" %></div>
      <div id="favorite-buttons-<%= @end_user.id %>"><%= render "public/relationships/favorite_btn", end_user: @end_user %></div>
      <div class="favorite-count"><%= render 'public/relationships/favorite_count', end_user: @end_user %></div>
      <div class="row justify-content-around text-center text-secondary my-2">
        <div></div>
          <span class="h6">コミュニティ<br><%= @end_user.communities.count %></span>
        <div class="border"></div>
          <span class="h6">投稿トピック<br><%= @end_user.topics.count %></span>
        <div></div>
      </div>
      <% if !current_end_user.guest_user? && @end_user == current_end_user %>
        <% if unchecked_notifications.any? %>
          <%= link_to '新着メッセージがあります！', notifications_path, class: "btn btn-warning text-light my-2", style:"width: 100%" %>
        <% else %>
          <%= link_to 'メッセージを確認する', notifications_path, class: "btn btn-warning text-light my-2", style:"width: 100%" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-8 col-md-9 col-12 mb-3">
      <div class="card shadow">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a href="#contents1" class="nav-link active text-dark" data-toggle="tab">自己紹介</a></li>
            <li class="nav-item"><a href="#contents2" class="nav-link text-dark" data-toggle="tab">コミュニティ</a></li>
            <li class="nav-item"><a href="#contents3" class="nav-link text-dark" data-toggle="tab">トピック</a></li>
            <% if !current_end_user.guest_user? && @end_user == current_end_user %>
              <li class="nav-item"><a href="#contents4" class="nav-link text-dark" data-toggle="tab">お気に入り</a></li>
            <% end %>
          </ul>
        </div>
        <div class="tab-content">
          <div id="contents1" class="tab-pane active">
            <div class="p-4">
              <% if @end_user.introduction.present? %>
               <p><%= safe_join(@end_user.introduction.split("\n"), tag(:br)) %></p>
              <% else %>
               <p>自己紹介文が未設定です</p>
              <% end %>
              <h6 class="text-secondary">年齢：<%= "#{@end_user.age}" + "歳" %>&nbsp;/&nbsp;性別：<%= @end_user.sex_i18n %>&nbsp;/&nbsp;活動エリア：<%= @end_user.activity_area_i18n %></h6>
              <h6><i class="fas fa-tag mr-2"></i>
                <% @end_user.personal_tags.each do |personal_tag| %>
                  <%= link_to "#{"#" + personal_tag.name}", personal_tag_path(personal_tag), class:"text-secondary mr-1" %>
                <% end %>
              </h6>
              <div class="row justify-content-end">
                <%= link_to '＋プロフィールを編集する', edit_end_user_path(@end_user), class: "btn btn-info" if !current_end_user.guest_user? && @end_user == current_end_user %>
              </div>
            </div>
          </div>
          <div id="contents2" class="tab-pane">
            <%= render 'public/communities/community_index_list_type', communities: @join_communities, end_user: @end_user %>
          </div>
          <div id="contents3" class="tab-pane">
            <%= render 'public/topics/topic_list', topics: @topics %>
          </div>
          <div id="contents4" class="tab-pane">
            <%= render 'public/bookmarks/bookmark_list', bookmarks: @bookmarks %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3">
      <h4>コミュニティ加入履歴</h4>
    </div>
    <div class="swiper mt-3">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @history_communities.each do |community| %>
            <div class="swiper-slide text-center">
              <%= link_to community_path(community.community) do %>
                <%= image_tag community.community.get_community_image(250, 200), class:"img-thumbnail img-rounded" %>
                <h6 class="text-info mt-2"><%= community.community.name %></h6>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="swiper-button-prev fa-2x text-warning"><i class="fas fa-arrow-circle-left"></i></div>
      <div class="swiper-button-next fa-2x text-warning"><i class="fas fa-arrow-circle-right"></i></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>