<div class="container pb-5">
  <div class="row m-4">
    <% if @end_user == current_end_user %>
      <h3><i class="fas fa-user"></i>&nbsp;マイページ</h3>
    <% else %>
      <h2><i class="fas fa-user"></i>&nbsp; <%= @end_user.nickname %> さんの詳細ページ</h2>
    <% end %>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-4 col-sm-12 text-center mb-3">
      <div><%= image_tag @end_user.get_profile_image(220, 220), class:"img-thumbnail" %></div>
      <div class="favorite-count"><%= render 'public/relationships/favorite_count', end_user: @end_user %></div>
      <div class="bookmark-count my-2"><%= render 'public/bookmarks/bookmark_count', end_user: @end_user %></div>
      <% unless current_end_user.guest_user? %>
        <% if @end_user == current_end_user %>
          <div class="text-center mx-auto my-1">
            <%= link_to  notifications_path, class: "btn btn-warning text-light", style:"" do %>
            <% if unchecked_notifications.any? %>
                新着メッセージがあります！
              <% else %>
                メッセージを確認する
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="text-center mx-auto my-1" id="favorite-buttons-<%= @end_user.id %>">
          <%= render "public/relationships/favorite_btn", end_user: @end_user %>
        </div>
      <% end %>
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a href="#contents1" class="nav-link active text-dark" data-toggle="tab">基本情報</a>
            </li>
            <li class="nav-item">
              <a href="#contents2" class="nav-link text-dark" data-toggle="tab">自己紹介</a>
            </li>
            <li class="nav-item">
              <a href="#contents3" class="nav-link text-dark" data-toggle="tab">最近の投稿</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="contents1" class="tab-pane active">
              <table class="table table-borderless table-sm">
                <tr>
                  <th style="width: 40%">ニックネーム</th>
                  <td style="width: 60%"><h5 class="font-weight-bold"><%= @end_user.nickname %></h5></td>
                </tr>
                <tr>
                  <th style="width: 40%">年齢</th>
                  <td style="width: 60%"><h5><%= (@end_user.age).to_s + "歳" %></h5></td>
                </tr>
                <tr>
                  <th style="width: 40%">性別</th>
                  <td style="width: 60%"><h5><%= @end_user.sex_i18n %></h5></td>
                  </tr>
                <tr>
                  <th style="width: 40%">主な活動エリア</th>
                  <td style="width: 60%"><h5><%= @end_user.activity_area_i18n %></h5></td>
                </tr>
                <tr>
                  <th style="width: 40%">参加コミュニティ数</th>
                  <td style="width: 60%">
                    <span class="h5"><%= link_to "#{@end_user.communities.count} つ", my_community_end_user_path(@end_user) %></span>
                    <span>(作成数：<%= @owner_communities.count %>つ)</span>
                  </td>
                </tr>
                <tr>
                  <th style="width: 40%">マイタグ</th>
                  <td style="width: 60%">
                    <% if @end_user.personal_tags.exists? %>
                      <% @end_user.personal_tags.each do |personal_tag| %>
                        <%= link_to "#{"#" + personal_tag.name}", search_personal_tag_end_user_path(personal_tag), class:"mr-2" %>
                      <% end %>
                    <% else %>
                      <small>マイタグが未設定です</small>
                    <% end %>
                  </td>
                </tr>
              </table>
              <div class="row justify-content-end mr-3">
                <% if !current_end_user.guest_user? && @end_user == current_end_user %>
                  <%= link_to '＋プロフィールを編集する', edit_end_user_path(@end_user), class: "btn btn-info", style:"" %>
                <% end %>
              </div>
            </div>
            <div id="contents2" class="tab-pane p-2">
              <% if @end_user.introduction.present? %>
                <h5><%= safe_join(@end_user.introduction.split("\n"), tag(:br)) %></h5>
              <% else %>
                <span>
                  自己紹介が未設定です<br>
                  <% if !current_end_user.guest_user? && @end_user == current_end_user %>
                    <small>プロフィール編集から追加しましょう！</small>
                  <% end %>
                </span>
              <% end %>
              <div class="row justify-content-end mt-3 mr-3">
                <% if !current_end_user.guest_user? && @end_user == current_end_user %>
                  <%= link_to '＋プロフィールを編集する', edit_end_user_path(@end_user), class: "btn btn-info", style:"" %>
                <% end %>
              </div>
            </div>
            <div id="contents3" class="tab-pane">
              <% @topics.each do |topic|  %>
                <div class="d-flex justify-content-between mt-2">
                  <h5><i class="far fa-flag"></i>&nbsp;&nbsp;<%= link_to topic.title.truncate(20), community_topic_path(topic.community,topic) %></h5>
                  <p><small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %>&nbsp;投稿</small></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row offset-md-1 my-3">
      <h5>最近のコミュニティ加入履歴</h5>
    </div>
    <div class="swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @community_users.each do |community_user| %>
            <div class="swiper-slide text-center">
              <%= link_to community_path(community_user.community) do %>
                <%= image_tag community_user.community.get_community_image(200, 200), class:"img-thumbnail rounded-circle" %>
                <h6 class="text-info font-weight-bold mt-2"><%= community_user.community.name %></h6>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="swiper-button-prev fa-2x text-warning"><i class="fas fa-arrow-circle-left"></i></div>
      <div class="swiper-button-next fa-2x text-warning"><i class="fas fa-arrow-circle-right"></i></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <%= javascript_pack_tag "script.js" %>
</div>