<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-end">
      <div class="d-none d-md-block col-12 text-right mb-5">
        <p class="h2">あなたとだれかを繋ぐ場所</p>
        <p class="h2">さぁ、始めてみよう！</p>
      </div>
      <div class="d-none d-md-block col-lg-4 col-md-5 border rounded-lg bg-white align-self-center mr-3 p-4">
        <%= render 'public/sessions/login_form', end_user: @end_user %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div class="d-block d-md-none col-12 text-center mb-3">
        <p class="h2">あなたとだれかを繋ぐ場所</p>
        <p class="h2">さぁ、始めてみよう！</p>
      </div>
    <div class="d-block d-md-none col-9 border rounded-lg bg-white align-self-center mx-2 p-4">
      <%= render 'public/sessions/login_form', end_user: @end_user %>
    </div>
  </div>
</div>
<div class="container-field bg-white py-3">
  <div class="row justify-content-center m-3">
    <div class="col-11 text-warning text-center"><span class="h2">注目のコミュニティ</span></div>
    <% @community_ranks.each.with_index(1) do |community, i| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-10 p-3">
        <h3 class="text-center">第<%= i %>位</h2>
        <div class="card shadow">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a href="#rank-contents1-<%= community.id %>" class="nav-link active text-dark" data-toggle="tab">基本情報</a>
              </li>
              <li class="nav-item">
                <a href="#rank-contents2-<%= community.id %>" class="nav-link text-dark" data-toggle="tab">紹介文</a>
              </li>
            </ul>
          </div>
          <%= image_tag community.get_community_image(150, 150), class:"class=card-img-top p-1" %>
          <div class="card-body">
            <h4 class="card-title text-warning"><%= community.name %></h4>
          </div>
          <div class="tab-content">
            <div id="rank-contents1-<%= community.id %>" class="tab-pane active">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-user"></i>&nbsp;&nbsp;<span class="h5 text-danger"><%= (community.end_users.count).to_s %></span>人が参加中</li>
                <li class="list-group-item"><i class="fas fa-tag"></i>
                  <% community.tags.each do |community_tag| %>
                    <%= "#" + community_tag.name %>
                  <% end %>
                </li>
             </ul>
            </div>
            <div id="rank-contents2-<%= community.id %>" class="tab-pane">
              <div class="card-body">
                <p class="card-text"><%= community.introduction.truncate(40) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container-field py-3">
  <div class="row justify-content-center m-3">
    <h2 class="col-11 text-info text-center">新着コミュニティ</h2>
    <% @community_news.each do |community| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-10 p-3">
        <div class="card shadow">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a href="#new-contents1-<%= community.id %>" class="nav-link active text-dark" data-toggle="tab">基本情報</a>
              </li>
              <li class="nav-item">
                <a href="#new-contents2-<%= community.id %>" class="nav-link text-dark" data-toggle="tab">紹介文</a>
              </li>
            </ul>
          </div>
          <%= image_tag community.get_community_image(150, 150), class:"class=card-img-top p-1" %>
          <div class="card-body">
            <h4 class="card-title text-info"><%= community.name %></h4>
          </div>
          <div class="tab-content">
            <div id="new-contents1-<%= community.id %>" class="tab-pane active">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-user"></i>&nbsp;&nbsp;<span class="h5"><%= (community.end_users.count).to_s %></span>人が参加中</li>
                <li class="list-group-item"><i class="fas fa-tag"></i>
                  <% community.tags.each do |community_tag| %>
                    <%= "#" + community_tag.name %>
                  <% end %>
                </li>
             </ul>
            </div>
            <div id="new-contents2-<%= community.id %>" class="tab-pane">
              <div class="card-body">
                <p class="card-text"><%= community.introduction.truncate(40) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>