<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-end">
      <div class="d-none d-md-block col-12 text-right mb-5">
        <p class="h2">あなたとだれかを繋ぐ場所</p>
        <p class="h2">さぁ、始めてみよう！</p>
      </div>
      <% unless end_user_signed_in? %>
        <div class="d-none d-md-block col-lg-4 col-md-5 border rounded-lg bg-white align-self-center mr-3 p-4">
          <%= render 'public/sessions/login_form', end_user: @end_user %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div class="d-block d-md-none col-12 text-center mb-3">
      <p class="h3">あなたとだれかを繋ぐ場所</p>
      <p class="h3">さぁ、始めてみよう！</p>
    </div>
    <% unless end_user_signed_in? %>
      <div class="d-block d-md-none col-9 border rounded-lg bg-white align-self-center mx-2 p-4">
        <%= render 'public/sessions/login_form', end_user: @end_user %>
      </div>
    <% end %>
  </div>
  <div class="container my-4">
    <h4>新着コミュニティ</h4>
    <div class="row flex-nowrap overflow-auto">
      <%= render 'public/communities/community_index_card_type', communities: @new_communities %>
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <div class="container py-4 px-4">
    <h4>トピックが投稿されたコミュニティ</h4>
    <div class="row flex-nowrap overflow-auto">
      <%= render 'public/communities/community_index_card_type', communities: @new_topic_community %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container py-4">
    <h4>コミュニティカテゴリー</h4>
    <div class="row justify-content-xl-start justify-content-around">
      <%= render 'public/categories/category_menu' %>
    </div>
  </div>
</div>


