<% topics.each do |topic| %>
  <tr>
    <td><%= topic.id %></td>
    <td><%= topic.title.truncate(20) %></td>
    <td><%= link_to topic.end_user.nickname, admin_end_user_path(topic.end_user) %></td>
    <td><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></td>
    <td><%= link_to "#{topic.community.name}", admin_community_path(topic.community) %></td>
    <td><%= link_to "詳細", admin_community_topic_path(topic.community_id, topic), class: "btn btn-primary btn-sm" %></td>
  </tr>
<% end %>