<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-star"></i>&nbsp;トピック一覧</h2>
  </div>

  <div class="row">
    <table class="table">
      <thead>

      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td class="col-sm-2 align-middle">
              <%= link_to admin_end_user_path(topic.end_user) do %>
                <%= image_tag topic.end_user.get_profile_image(50, 50), class: "rounded-circle" %><br>
                <%= topic.end_user.nickname %>
              <% end %>
            </td>
            <td class="col-sm-8 align-middle">
              <small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small>
              <% if topic.end_user.active_for_authentication? %>
                <h4><%= link_to topic.title.truncate(35), admin_community_topic_path(topic.community, topic) %></h4>
              <% else %>
                <h4><%= link_to topic.title.truncate(35), admin_community_topic_path(topic.community, topic) %></h4>
                <small>※このトピックは、投稿したユーザーアカウントが利用停止中です</small>
              <% end %>
            </td>
            <td class="align-bottom">
              <small class="mx-2">
                <span><i class="far fa-heart"></i>&nbsp;<%= topic.bookmarks.count %></span>
              </small>
            </td>
            <td class="align-bottom">
              <small><%= "#{topic.topic_comments.count}" + "コメント" %></small>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>