<div class="container pb-5">
  <div class="row m-4">
    <h2>&nbsp;トピック詳細</h2>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-3">
      <%= link_to admin_end_user_path(@topic.end_user) do %>
        <%= image_tag @topic.end_user.get_profile_image(120, 120), class:"d-block mx-auto img-thumbnail" %>
        <h5 class="text-center"><%= @topic.end_user.nickname %></h5>
      <% end %>
      <div class="text-center">
        <%= link_to 'トピックを編集する', edit_admin_community_topic_path(@topic.community, @topic), class: "btn btn-sm btn-success mt-2" %>
        <%= link_to 'トピックを削除する', admin_community_topic_path(@topic.community, @topic), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-danger mt-2" %>
      </div>
    </div>
    <div class="col-md-9">
      <h3 class="col-md-10 py-3"><%= @topic.title %></h3>
      <div class="col-md-12 py-3">
        <p>投稿日：<%= @topic.created_at.strftime("%Y/%m/%d\ %R") %></p>
        <h5><%= safe_join(@topic.body .split("\n"), tag(:br)) %></h5>
        <div class="row justify-content-end mx-2">
          <small class="mx-2">
            <span><i class="far fa-heart"></i>&nbsp;<%= @topic.bookmarks.count %></span>
          </small>
          <small class="mx-2"><%= "#{@topic.topic_comments.count}" + "コメント" %></small>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <table class="table">
        <% @topic.topic_comments.each do |comment| %>
          <tr>
            <td class="col-2 col-md-1 text-center">
              <% if comment.is_active %>
                <%= link_to admin_end_user_path(comment.end_user) do %>
                  <%= image_tag comment.end_user.get_profile_image(70, 70), class:"d-block rounded-circle mx-auto " %>
                <% end %>
              <% end %>
            </td>
            <td class="col-8">
              <% if comment.is_active %>
                <%= comment.end_user.nickname %><br>
                <small><%= comment.created_at.strftime("%Y/%m/%d\ %R") %></small><br>
                <%= comment.comment %>
              <% else %>
                <span>このコメントは管理者によって不適切と判定されました。</span>
              <% end %>
              <div class="row justify-content-end align-items-center mx-2">
              <small class="mx-2">
                <span><i class="far fa-heart"></i>&nbsp;<%= comment.goods.count %></span>
              </small>
            </td>
            <td class="col-2 col-md-2 align-middle text-center">
              <% if comment.is_active %>
                <%= link_to '非表示', admin_community_topic_topic_comment_path(comment.topic.community,comment.topic,comment), method: :patch, class:"btn btn-sm btn-secondary my-1",style:"width:100%" %>
              <% end %>
              <%= link_to '削除', admin_community_topic_topic_comment_path(comment.topic.community,comment.topic,comment), method: :delete, class:"btn btn-sm btn-danger my-1", style:"width:100%" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>