<% communities.each do |community| %>
  <% a = rand(5000) %>
  <% b = rand(5000) %>
  <div class="col-lg-3 col-md-4 col-sm-6 col-10 mb-3">
    <div class="card shadow">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a href="#contents1-<%= a %>" class="nav-link active text-dark" data-toggle="tab">基本情報</a>
          </li>
          <li class="nav-item">
            <a href="#contents2-<%= b %>" class="nav-link text-dark" data-toggle="tab">紹介文</a>
          </li>
        </ul>
      </div>
      <div class="sample-box">
        <%= image_tag community.get_community_image(150, 150), class:"card-img-top p-1" %>
        <% if community.community_detail.recruiting_status == "closed" %>
          <div class="stop"><i class="far fa-stop-circle"></i></div>
        <% end %>
      </div>
      <div class="card-body">
        <h4 class="card-title text-info"><%= community.name %></h4>
      </div>
      <div class="tab-content">
        <div id="contents1-<%= a %>" class="tab-pane active">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-user"></i>&ensp;<span class="h5 text-danger"><%= community.end_users.count %></span>人が参加中</li>
            <li class="list-group-item"><i class="fas fa-th-large"></i>&ensp;<%= community.category.name if community.category_id %></li>
            <li class="list-group-item"><i class="fas fa-tag"></i>
              <% community.tags.each do |community_tag| %>
                <%= link_to "#" + community_tag.name, tag_path(community_tag), class:"text-secondary mr-1" %>
              <% end %>
            </li>
          </ul>
        </div>
        <div id="contents2-<%= b %>" class="tab-pane">
          <div class="card-body">
            <p class="card-text"><%= community.introduction.truncate(100) %></p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= link_to '詳細をチェック', community_path(community), class:"btn btn-info" if end_user_signed_in? %></h4>
      </div>
    </div>
  </div>
<% end %>
