<ul class="list-unstyled">
  <% communities.each do |community| %>
    <li class="media border-top p-3">
      <div class='text-center mr-3'>
        <%= link_to community_path(community.id) do %>
          <%= image_tag community.get_community_image(80, 80), class: "img-thumbnail" %>
        <% end %>
        <% if community.owner == current_end_user %>
          <span class="d-block badge badge-info mt-1">リーダー</span>
        <% end %>
      </div>
      <div class="media-body">
        <h5><%= community.name %></h5>
        <p><%= community.introduction.truncate(100) %></p>
        <% community.tags.each do |tag| %>
          <small class="mr-2"><%= link_to "#" + tag.name, tag_path(tag), class:"text-secondary" %></small>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>