<table class="table table-hover">
  <tbody>
    <% communities.each do |community| %>
      <tr>
        <td class="align-middle text-center" style="width: 15%">
          <%= link_to community_path(community.id) do %>
            <%= image_tag community.get_community_image(80, 80), class: "rounded-circle" %><br>
            <small><%= community.name %></small>
          <% end %>
        </td>
        <td class="align-middle" style="width: 65%">
          <h5 class="mb-4"><%= community.introduction.truncate(38) %></h5>
          <% community.tags.each do |tag| %>
            <small class="mr-2"><%= link_to "#" + tag.name, tag_path(tag) %></small>
          <% end %>
        </td>
        <td class="align-middle text-center" style="width: 20%">
          <% community.end_users.each do |member| %>
            <% if member.active_for_authentication? %>
              <li class="list-unstyled my-1"><small><%= link_to "#{member.nickname}", end_user_path(member.id) %></small></li>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>