<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-user-group"></i>&nbsp;コミュニティ編集</h2>
  </div>

  <%= form_with model:@community, url: community_path(@community), method: :patch do |f| %>

    <div class="form-group row">
      <%= f.label :name,'コミュニティ名', class:"col-sm-2 col-form-label" %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :introduction, '紹介文', class:"col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.text_area :introduction, rows:"5", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row mb-5">
      <%= f.label :community_image, 'コミュニティ画像', class:"col-sm-2" %>
      <div class="col-sm-6">
        <%= f.file_field :community_image, class: "form-control-file", accept: 'image/*' %>
      </div>
    </div>

    <%= f.fields_for :community_details do |i| %>

      <div class="form-group row mt-5">
        <%= i.label :max_join_number, '参加上限人数', class:"col-sm-2 col-form-label" %>
        <div class="col-sm-4">
          <%= i.select :max_join_number, (2..100).to_a, {include_blank: "設定しない"}, class:"form-control" %>
        </div>
        &nbsp;<span class="align-middle">人まで</span>
      </div>

      <div class="form-group row">
        <%= i.label :sex_limit, '性別制限', class:"col-sm-2 col-form-label" %>
        <div class="col-sm-4">
          <%= i.select :sex_limit, CommunityDetail.sex_limits_i18n.invert, {include_blank: "設定しない"}, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= i.label :activity_area_limit, '活動エリア制限', class:"col-sm-2 col-form-label" %>
          <div class="col-sm-4">
          <%= i.select :activity_area_limit, CommunityDetail.activity_area_limits_i18n.invert, {include_blank: "設定しない"}, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= i.label :age_min_limit, '年齢制限（最少）', class:"col-sm-2 col-form-label" %>
        <div class="col-sm-3">
          <%= i.select :age_min_limit, (18..99).to_a, {include_blank: "設定しない"}, class:"d-inline form-control" %>
        </div>
        &nbsp;<span class="col-sm-1 col-form-label">〜</span>
        <%= i.label :age_max_limit, '（最大）', class:"col-sm-1 col-form-label" %>
        <div class="col-sm-3">
        <%= i.select :age_max_limit, (18..99).to_a, {include_blank: "設定しない"}, class:"d-inline form-control" %>
        </div>
        &nbsp;<span class="col-form-label">歳まで</span>
      </div>

    <% end %>

    <div class="form-group row justify-content-center">
      <%= f.submit class: 'btn btn-info mt-5', style:"width: 30%" %>
    </div>

  <% end %>

</div>