<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-user-group"></i>&nbsp;新着コミュニティ</h2>
    <div><%= link_to 'コミュニティを作成する', new_community_path %></div>
  </div>

  <div class="row">
    <% @communities.each do |community| %>
      <div class="col-md-3 shadow p-3">
        <%= image_tag community.get_community_image(200, 200), class:"d-block mx-auto img-thumbnail" %>
        <div class="pt-3 px-3">
          <h4 class="text-center"><%= link_to community.name, community_path(community)  %></h4>
          <i class="fas fa-user"></i>&nbsp;&nbsp;<%= (community.end_users.count).to_s + "人が参加中" %></br>
          <i class="fas fa-tag"></i>
          <% community.tags.each do |community_tag| %>
            &nbsp;<%= "#" + community_tag.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
