<div class="container py-5">
  <div class="row m-4">
    <h3><i class="fas fa-object-group"></i>「<%= @community.name %>」のコミュニティ詳細</h3>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-lg-12 col-md-10 col-12">
      <div class="card shadow">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a href="#contents1" class="nav-link active text-dark" data-toggle="tab">コミュニティ紹介</a></li>
            <li class="nav-item"><a href="#contents2" class="nav-link text-dark" data-toggle="tab">設定詳細</a></li>
          </ul>
        </div>
        <div class="row no-gutters">
          <div class="col-xl-4 col-lg-5 align-self-center sample-box">
            <%= image_tag @community.get_community_image(560, 560), class:"img-fluid d-block mx-auto p-1" %>
            <%= image_tag asset_path("stop_label.png"), size: "250x250", class:"d-block recruiting-stop" if @community.community_detail.recruiting_status == "closed" %>
          </div>
          <div class="col-xl-8 col-lg-7">
            <div class="tab-content">
              <div id="contents1" class="tab-pane active p-3">
                <div class="overflow-auto" style="height: 250px">
                  <p><%= safe_join(@community.introduction.split("\n"), tag(:br)) %></p>
                </div>
                <h6 class="text-secondary">設立日：<%= @community.created_at.strftime("%Y/%m/%d") %></h6>
                <h6><i class="fas fa-th-large mr-3"></i><%= link_to @community.category.name, category_path(@community.category), class:"text-secondary" if @community.category_id %></h6>
                <h6><i class="fas fa-tag mr-2"></i>
                  <% @community.tags.each do |community_tag| %>
                    <%= link_to "#{"#" + community_tag.name}", tag_path(community_tag), class:"text-secondary mr-1" %>
                  <% end %>
                </h6>
                <div class="d-flex justify-content-end">
                  <%= link_to '＋コミュニティを編集する', edit_community_path(@community), class: "btn btn-info" if @community.owner_id == current_end_user.id %>
                </div>
              </div>
              <div id="contents2" class="tab-pane p-3">
                <%= render 'public/community_details/community_detail', detail: @community.community_detail %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <%= render 'public/communities/community_member', community: @community %>
  </div>

  <% if @community.owner_id == current_end_user.id %>
    <div class="mt-3" style="height:120px">
      <%= render 'public/notifications/invitation_form', community: @community, other_users: @follow_users %>
    </div>
  <% end %>

  <div class="d-flex justify-content-between mt-3">
    <h4>新着トピックス</h4>
    <%= link_to 'もっと見る >>', community_topics_path(@community), class:"mt-2" %>
  </div>
  <div class="border"></div>
  <% @topics.each do |topic| %>
    <% if topic.end_user.active_for_authentication? %>
      <div class="d-flex justify-content-between mt-3">
        <h6 class="text-truncate"><i class="far fa-flag"></i>&ensp;<%= link_to topic.title.truncate(30), community_topic_path(topic.community,topic) %></h6>
        <p class="text-right"><small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small></p>
      </div>
    <% end %>
  <% end %>

  <% unless @community.owner_id == current_end_user.id %>  <%# unless (current_end_user.guest_user?) || (@community.owner_id == current_end_user.id) %>
    <div class="text-center mx-auto mt-5">
      <% if @community.already_joined?(current_end_user) %>
        <%= link_to 'コミュニティから退出する', community_community_users_path(@community), method: :delete, data: {confirm: "本当に退出しますか？"}, class: "btn btn-danger py-2", style:"width: 75%" %>
      <% else %>
        <% unless @community.community_detail.recruiting_status == "closed" %>
          <%= link_to 'コミュニティに参加する', community_community_users_path(@community), method: :post, class: "btn btn-info py-2", style:"width: 75%" %>
        <% else %>
          <button type="button" class="btn btn-secondary py-2" style="width: 75%" disabled>募集を中止しております</button>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%# unless current_end_user.guest_user? %>
    <div class="text-center mx-auto mt-5">
      <%= link_to '質問・問い合わせページへ', question_community_path(@community), class: "btn btn-outline-warning py-2", style:"width: 75%" %>
    </div>
  <%# end %>
</div>