<div class="container py-5">
  <div class="row m-4">
    <h3><i class="fas fa-object-group"></i>「<%= @community.name %>」のコミュニティ詳細</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a href="#contents1" class="nav-link active text-dark" data-toggle="tab">コミュニティ紹介</a></li>
            <li class="nav-item"><a href="#contents2" class="nav-link text-dark" data-toggle="tab">参加条件</a></li>
          </ul>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-4 col-12 align-self-center">
            <%= image_tag @community.get_community_image(600, 600), class:"img-fluid mx-auto d-block p-2" %>
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <div class="tab-content">
                <div id="contents1" class="tab-pane active p-2">
                  <h6><%= safe_join(@community.introduction.split("\n"), tag(:br)) %></h6>
                  <p>設立日：<%= @community.created_at.strftime("%Y/%m/%d") %></p>
                  <span><i class="fas fa-th-large mr-3"></i><%= @community.category.name if @community.category_id %></span><br>
                  <span>
                    <i class="fas fa-tag mr-2"></i>
                    <% @community.tags.each do |community_tag| %>
                      <%= link_to "#{"#" + community_tag.name}", tag_path(community_tag), class:"mr-1" %>
                    <% end %>
                  </span>
                  <div class="row justify-content-end">
                    <%= link_to '＋コミュニティを編集する', edit_community_path(@community), class: "btn btn-info mt-2" if @community.owner_id == current_end_user.id  %>
                  </div>
                </div>
                <div id="contents2" class="tab-pane p-2">
                  <div class="" style="height:200px">
                    <% @community.community_details.each do |detail| %>
                      <% if !detail.max_join_number && !detail.sex_limit && !detail.activity_area_limit && !detail.age_min_limit && !detail.age_max_limit %>
                        <p>参加条件の設定はありません</p>
                      <% end %>
                      <% if detail.max_join_number? %>
                        <li class="my-3">参加人数は「<span class="font-weight-bold text-warning"><%= detail.max_join_number %>人</span>」まで&nbsp;（現在<%= @community.end_users.count %>人参加中）</li>
                      <% end %>
                      <% if detail.sex_limit? %>
                        <li class="my-3"><span class="font-weight-bold text-warning"><%= detail.sex_limit_i18n %></span></li>
                      <% end %>
                      <% if detail.activity_area_limit? %>
                        <li class="my-3">主な活動エリアが「<span class="font-weight-bold text-warning"><%= detail.activity_area_limit_i18n %></span>」の人</li>
                      <% end %>
                      <% if detail.age_min_limit && detail.age_max_limit %>
                        <li class="my-3">年齢が「<span class="font-weight-bold text-warning"><%= detail.age_min_limit %>歳〜<%= detail.age_max_limit %>歳</span>」の人</li>
                      <% elsif !detail.age_min_limit && detail.age_max_limit %>
                        <li class="my-3">年齢が「<span class="font-weight-bold text-warning"><%= detail.age_max_limit %>歳以下</span>」の人</li>
                      <% elsif detail.age_min_limit && !detail.age_max_limit %>
                        <li class="my-3">年齢が「<span class="font-weight-bold text-warning"><%= detail.age_min_limit %>歳以上</span>」の人</li>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="row justify-content-end">
                    <%= link_to '＋参加条件を変更する', edit_community_path(@community), class: "btn btn-info mt-2" if @community.owner_id == current_end_user.id %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <p>メンバー：<span class="h5 text-danger"><%= @community.end_users.count %></span>人が参加中</p>
    <div class="row flex-nowrap overflow-auto">
      <div class="text-center" style="width: 180px">
        <h6 style="width: 180px">リーダー</h6>
        <%= link_to end_user_path(@community.owner) do %>
          <%= image_tag @community.owner.get_profile_image(60, 60), class:"img-thumbnail rounded-circle" %>
          <h6 class="text-info"><small><%= @community.owner.nickname %></small></h6>
        <% end %>
      </div>
      <div>
        <h6>その他メンバー</h6>
        <div class="row flex-nowrap text-center">
          <% @community.end_users.each do |member| %>
            <% unless !member.active_for_authentication? || @community.owner == member %>
              <div style="width: 100px">
                <%= link_to end_user_path(member) do %>
                  <%= image_tag member.get_profile_image(60, 60), class:"img-thumbnail rounded-circle" %>
                  <h6 class="text-info"><small><%= member.nickname %></small></h6>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if @community.owner_id == current_end_user.id %>
      <div class="mt-3" style="height:120px">
        <%= render 'public/notifications/invitation_form', community: @community, other_users: @other_users %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <h4>新着トピックス</h4>
    <%= link_to 'もっと見る >>', community_topics_path(@community), class:"mt-3" %>
  </div>
  <div class="border"></div>
  <% @topics.each do |topic| %>
    <% if topic.end_user.active_for_authentication? %>
      <div class="d-flex justify-content-between mt-3">
        <h6 class="text-truncate"><i class="far fa-flag"></i>&ensp;<%= link_to topic.title.truncate(30), community_topic_path(topic.community,topic) %></h6>
        <p class="text-right"><small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small></p>
      </div>
    <% end %>
  <% end %>

  <% unless (current_end_user.guest_user?) || (@community.owner_id == current_end_user.id) %>
    <div class="text-center mx-auto mt-5", style="">
      <% if @community.already_joined?(current_end_user) %>
        <%= link_to 'コミュニティから退出する', community_community_users_path(@community), method: :delete, data: {confirm: "本当に退出しますか？"}, class: "btn btn-danger py-2", style:"width: 75%" %>
      <% else %>
        <%= link_to 'コミュニティに参加する', community_community_users_path(@community), method: :post, class: "btn btn-info py-2", style:"width: 75%" %>
      <% end %>
    </div>
  <% end %>
</div>