<ul class="list-group list-group-flush">
  <% topics.each do |topic| %>
    <li class="list-group-item p-3">
      <% if topic.end_user.active_for_authentication? %>
        <div class="row mx-2">
          <%= link_to end_user_path(topic.end_user) do %>
            <%= image_tag topic.end_user.get_profile_image(40, 40), class: "img-thumbnail rounded-circle mr-2" %>
          <% end %>
          <div>
            <small class="text-info"><%= topic.end_user.nickname %></small><br>
            <small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small>
          </div>
        </div>
        <div class="m-3">
          <h5><%= link_to topic.title.truncate(35), community_topic_path(topic.community, topic) %></h5>
          <p><%= topic.body.truncate(100) %></p>
        </div>
      <% else %>
        <div class="row mx-2">
          <%= image_tag topic.end_user.get_profile_image(40, 40), class: "img-thumbnail rounded-circle mr-2" %>
          <div>
            <small class="text-info"><%= topic.end_user.nickname %></small><br>
            <small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small>
          </div>
        </div>
        <div class="m-3">
          <h5><%= topic.title.truncate(35) %></h5><small>※このトピックは投稿したユーザーが利用停止中のため、閲覧できません</small>
        </div>
      <% end %>
      <div class="row justify-content-end">
        <small class="mr-2"><%= link_to topic.community.name, community_path(topic.community) %></small>
        <small class="ml-2" id="bookmark-buttons-<%= topic.id %>"><%= render 'public/bookmarks/bookmark_btn', topic: topic %></small>
        <small class="topic-comments-count mx-3"><%= render 'public/topic_comments/comment_count', topic: topic %></small>
      </div>
    </li>
  <% end %>
</ul>