<div class="container py-5">
  <%= render "layouts/errors", obj: @topic %>
  <div class="row m-4">
    <h3><i class="fas fa-pen"></i>&nbsp;トピック編集</h3>
  </div>
  <%= form_with model:[@community, @topic], url: community_topic_path(@topic.community.id, @topic.id), method: :patch do |f| %>
    <div class="form-group row was-validated">
      <div class="col-lg-2">
        <%= f.label :title,'トピック名', class:"col-form-label" %>
        <small><span class="badge badge-danger ml-2">必須</span></small>
      </div>
      <div class="col-lg-10">
        <%= f.text_field :title, required:true, class: 'form-control' %>
        <div class="invalid-feedback">入力されていません</div>
      </div>
    </div>
    <div class="form-group row was-validated">
      <div class="col-lg-2">
        <%= f.label :body, '本文', class:"col-form-label" %>
        <small><span class="badge badge-danger ml-2">必須</span></small>
      </div>
      <div class="col-lg-10">
        <%= f.text_area :body, required:true, rows:"8", class: "form-control" %>
        <div class="invalid-feedback">入力されていません</div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2">
        <%= f.label :topic_image,'投稿画像', class:"col-form-label" %><br>
        <small>※３つまで投稿可</small>
      </div>
      <div class="col-lg-10">
        <div class="row mx-0 justify-content-center">
          <div class="col-md-4 col-12 text-center">
            <label>
              <span class="text-primary">
                <i class="fas fa-camera"></i>&nbsp;画像を選択する
                <%= f.file_field :topic_image_1, accept:'image/*', style:"display:none", id:"input-file_1" %>
              </span>
            </label>
            <div>
              <% if @topic.topic_image_1.present? %>
                <%= image_tag @topic.topic_image_1, size: "250x250", class:"img-thumbnail", id:'preview_1' %>
              <% else %>
                <%= image_tag asset_path('no_image'), size: "250x250", class:"img-thumbnail", id:'preview_1' %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 col-12 text-center">
            <label>
              <span class="text-primary">
                <i class="fas fa-camera"></i>&nbsp;画像を選択する
                <%= f.file_field :topic_image_2, accept:'image/*', style:"display:none", id:"input-file_2" %>
              </span>
            </label>
            <div>
              <% if @topic.topic_image_2.present? %>
                <%= image_tag @topic.topic_image_2, size: "250x250", class:"img-thumbnail", id:'preview_2' %>
              <% else %>
                <%= image_tag asset_path('no_image'), size: "250x250", class:"img-thumbnail", id:'preview_2' %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 col-12 text-center">
            <label>
              <span class="text-primary">
                <i class="fas fa-camera"></i>&nbsp;画像を選択する
                <%= f.file_field :topic_image_1, accept:'image/*', style:"display:none", id:"input-file_3" %>
              </span>
            </label>
            <div>
              <% if @topic.topic_image_3.present? %>
                <%= image_tag @topic.topic_image_3, size: "250x250", class:"img-thumbnail", id:'preview_3' %>
              <% else %>
                <%= image_tag asset_path('no_image'), size: "250x250", class:"img-thumbnail", id:'preview_3' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <%= link_to '戻る', community_topic_path(@topic.community, @topic), class: 'btn btn-secondary mt-5 mx-3', style:"width: 25%" %>
      <%= f.submit class: 'btn btn-info mt-5 mx-3', style:"width: 25%" %>
    </div>
  <% end %>
</div>