<div class="container pb-5">
  <div class="row justify-content-between m-4">
    <h3><i class="fas fa-memo"></i>&nbsp;トピック一覧</h3>
    <h4 class="mt-3">
      <%= link_to new_community_topic_path, class:"btn btn-primary" do  %>
        <span class="h5"><i class="fas fa-plus"></i>&nbsp;トピック新規投稿</span>
      <% end %>
    </h4>
  </div>
  <div class="row">
    <table class="table">
      <% @topics.each do |topic| %>
        <tr>
          <td class="col-2 col-md-1 align-middle text-center">
            <% if topic.end_user.active_for_authentication? %>
              <%= link_to end_user_path(topic.end_user) do %>
                <%= image_tag topic.end_user.get_profile_image(50, 50), class: "img-thumbnail rounded-circle" %><br>
                <small class="text-info"><%= topic.end_user.nickname %></small>
              <% end %>
            <% else %>
              <%= image_tag topic.end_user.get_profile_image(50, 50), class: "img-thumbnail rounded-circle" %><br>
              <small class="text-info"><%= topic.end_user.nickname %></small>
            <% end %>
          </td>
          <td class="col-10 col-md-11 align-middle">
            <small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small>
            <% if topic.end_user.active_for_authentication? %>
              <h4 class="mt-2"><%= link_to topic.title.truncate(35), community_topic_path(topic.community, topic) %></h4>
            <% else %>
              <h4 class="mt-2"><%= topic.title.truncate(35) %></h4><small>※このトピックは投稿したユーザーが利用停止中のため、閲覧できません</small>
            <% end %>
            <div class="row justify-content-end mx-2">
              <small class="mr-3"><%= link_to topic.community.name, community_path(topic.community) %></small>
              <small class="ml-2" id="bookmark-buttons-<%= topic.id %>"><%= render 'public/bookmarks/bookmark_btn', topic: topic %></small>
              <small class="topic-comments-count ml-2"><%= render 'public/topic_comments/comment_count', topic: topic %></small>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>