<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-star"></i>&nbsp;トピック一覧</h2>
  </div>

  <%= link_to 'トピックを作成する', new_community_topic_path %>

  <div class="row">
    <table class="table">
      <% @topics.each do |topic| %>
        <tr>
          <td class="col-sm-1 align-middle text-center">
            <% if topic.end_user.active_for_authentication? %>
              <%= link_to end_user_path(topic.end_user) do %>
                <%= image_tag topic.end_user.get_profile_image(50, 50), class: "rounded-circle" %><br>
                <%= topic.end_user.nickname %>
              <% end %>
            <% else %>
              <%= image_tag topic.end_user.get_profile_image(50, 50), class: "rounded-circle" %><br>
              <%= topic.end_user.nickname %>
            <% end %>
          </td>
          <td class="col-sm-8 align-middle">
            <small><%= topic.created_at.strftime("%Y/%m/%d\ %R") %></small>
            <% if topic.end_user.active_for_authentication? %>
              <h4><%= link_to topic.title.truncate(35), community_topic_path(topic.community, topic) %></h4>
            <% else %>
              <h4><%= topic.title.truncate(35) %></h4><small>※このトピックは投稿したユーザーが利用停止中のため、閲覧できません</small>
            <% end %>
          </td>
          <td class="align-bottom">
            <small id="bookmark_buttons_<%= topic.id %>">
              <%= render 'public/bookmarks/bookmark', topic: topic %>
            </small>
          </td>
          <td class="align-bottom">
            <small><%= "#{topic.topic_comments.count}" + "コメント" %></small>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>