<div class="container">
  <div class="row m-4">
    <h2><i class="fas fa-user-group"></i>&nbsp;トピック詳細</h2>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-2">
      <%= link_to end_user_path(@topic.end_user) do %>
        <%= image_tag @topic.end_user.get_profile_image(120, 120), class:"d-block mx-auto img-thumbnail" %>
        <h5 class="text-center"><%= @topic.end_user.nickname %></h5>
      <% end %>
    </div>
    <div class="col-md-9">
      <h3 class="col-md-10 border py-3"><%= @topic.title %></h3>
      <div>
        <% if current_end_user.id == @topic.end_user_id %>
          <%= link_to '＋編集する', edit_community_topic_path(@topic.community, @topic), class: "btn btn-sm btn-success"%>
        <% end %>
      </div>
      <div class="col-md-12 border py-3">
        <p>投稿日：<%= @topic.created_at.strftime("%Y/%m/%d\ %R") %></p>
        <h5><%= safe_join(@topic.body .split("\n"), tag(:br)) %></h5>
        <div class="row justify-content-end mx-2">
          <small class="mx-2" id="bookmark_buttons_<%= @topic.id %>">
              <%= render 'public/bookmarks/bookmark', topic: @topic %>
          </small>
          <small class="mx-2"><%= "#{@topic.topic_comments.count}" + "コメント" %></small>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-md-12 px-5">
      <table class="table">
        <% @topic.topic_comments.each do |comment| %>
          <tr>
            <td class="col-md-1">
              <% if comment.is_active %>
                <%= link_to end_user_path(comment.end_user) do %>
                  <%= image_tag comment.end_user.get_profile_image(70, 70), class:"d-block rounded-circle mx-auto" %>
                <% end %>
              <% end %>
            </td>
            <td class="col-md-9">
              <% if comment.is_active %>
                <%= comment.end_user.nickname %><br>
                <small><%= comment.created_at.strftime("%Y/%m/%d\ %R") %></small><br>
                <%= comment.comment %>
              <% else %>
                <span>このコメントは管理者によって不適切と判定されました。</span>
              <% end %>
            </td>
            <td class="col-md-1 align-bottom">
              <small class="mx-2">
                <% if comment.good_by?(current_end_user) %>
                  <%= link_to community_topic_topic_comment_goods_path(comment.topic.community, comment.topic, comment), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to community_topic_topic_comment_goods_path(comment.topic.community, comment.topic, comment), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
                <span>&nbsp;<%= comment.goods.count %></span>
              </small>
            </td>
            <td class="col-md-1 align-bottom">
              <% if current_end_user.id == comment.end_user_id %>
                <%= link_to '削除', community_topic_topic_comment_path(comment.topic.community,comment.topic,comment), method: :delete, class:"btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-12 px-5">
      <%= form_with model: [@community, @topic, @topic_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力", class:"form-control" %>
        <%= f.submit "コメントを投稿する", class:"btn btn-success mt-3" , style:"width: 100%" %>
      <% end %>
    </div>
  </div>
</div>