<div class="container py-5">
  <div class="row m-4">
    <h3><i class="fas fa-info"></i>&nbsp;トピック詳細</h3>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-2 text-center mb-2">
      <%= link_to end_user_path(@topic.end_user) do %>
        <%= image_tag @topic.end_user.get_profile_image(250, 250), class:"img-thumbnail mb-2" %>
        <h6 class="text-info"><%= @topic.end_user.nickname %></h6>
      <% end %>
      <div>
        <% if current_end_user.id == @topic.end_user_id %>
          <%= link_to '＋トピック編集', edit_community_topic_path(@topic.community, @topic), class: "btn btn-info btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 bg-white rounded-lg border shadow mx-2 p-3">
      <div class="col-12">
        <p>投稿日：<%= @topic.created_at.strftime("%Y/%m/%d\ %R") %></p>
        <h3 class="font-weight-bold"><%= @topic.title %></h3>
        <div class="border-top border-info"></div>
      </div>
      <div class="col-12 p-3">
        <h6 class="topic-body">
          <% if @topic.body.length > 100 %>
            <div class="truncated">
              <%= safe_join(@topic.body.truncate(100).split("\n"), tag(:br)) %>
              <div class="text-center mt-3"><span class="see-more text-secondary">▽ 続きを読む</span></div>
            </div>
            <div class="untruncated" style="display: none">
              <%= safe_join(@topic.body.split("\n"), tag(:br)) %>
            </div>
          <% else %>
            <%= safe_join(@topic.body.split("\n"), tag(:br)) %>
          <% end %>
        </h6>
      </div>

      <div class="row mx-0">
        <div class="col-sm-4 col-12 text-center p-2">
          <%= image_tag @topic.topic_image_1.variant(resize_to_fill:[310, 310]).processed, class:"img-fluid" if @topic.topic_image_1.present? %>
        </div>
        <div class="col-sm-4 col-12 text-center p-2">
          <%= image_tag @topic.topic_image_2.variant(resize_to_fill:[310, 310]).processed, class:"img-fluid" if @topic.topic_image_2.present?%>
        </div>
        <div class="col-sm-4 col-12 text-center p-2">
          <%= image_tag @topic.topic_image_3.variant(resize_to_fill:[310, 310]).processed, class:"img-fluid" if @topic.topic_image_3.present?%>
        </div>
      </div>

      <div class="row justify-content-end mx-2">
        <small class="mx-2"><%= link_to 'トピック一覧へ', community_topics_path(@topic.community) %></small>
        <small class="mx-2" id="bookmark-buttons-<%= @topic.id %>"><%= render 'public/bookmarks/bookmark_btn', topic: @topic %></small>
        <small class="topic-comments-count mx-2"><%= render 'public/topic_comments/comment_count', topic: @topic %></small>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <div class="topic-comments-index col-md-11 col-12">
      <%= render 'public/topic_comments/comment_index', topic_comments: @topic_comments %>
    </div>
    <div class="col-sm-12 px-4">
      <%= render 'public/topic_comments/comment_form', community: @community, topic: @topic, topic_comment: @topic_comment %>
    </div>
  </div>
</div>