<% end_users.each do |end_user| %>
  <tr>
    <td><%= end_user.id %></td>
    <td><%= end_user.last_name %><%= end_user.first_name %></td>
    <td><%= end_user.nickname %></td>
    <td><%= end_user.email %></td>
    <td>
      <% if end_user.is_deleted? %>
        <span class="text-danger">退会済み</span>
      <% else %>
        <span class="text-success">有効</span>
      <% end %>
    </td>
    <td><%= link_to "詳細", admin_end_user_path(end_user), class: "btn btn-primary" %></td>
  </tr>
<% end %>