<div class="container py-5">
  <div class="row m-4">
    <h3><%= @end_user.last_name %><%= @end_user.first_name %>さんの情報編集ページ</h3>
  </div>
  <%= form_with model:@end_user, url: admin_end_user_path(@end_user), methd: :patch do |f| %>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <div><%= image_tag @end_user.profile_image, size: "400x400", class:"img-thumbnail", id:'preview' %></div>
          <label>
            <span class="text-primary">
              <i class="fas fa-camera"></i>&nbsp;画像を選択する
              <%= f.file_field :profile_image, accept:'image/*', style:"display:none", id:"input-file" %>
            </span>
          </label>
        </div>
        <div class="form-row was-validated">
          <div class="form-group col-md-6">
            <small><%= f.label :last_name, "姓" %><span class="badge badge-danger ml-2">必須</span></small>
            <%= f.text_field :last_name, autofocus: true, placeholder:"田中", required:true, class:"form-control" %>
            <div class="invalid-feedback">入力されていません</div>
          </div>
          <div class="form-group col-md-6">
            <small><%= f.label :first_name, "名" %><span class="badge badge-danger ml-2">必須</span></small>
            <%= f.text_field :first_name, placeholder:"太郎", required:true, class:"form-control" %>
            <div class="invalid-feedback">入力されていません</div>
          </div>
        </div>
        <div class="form-row was-validated">
          <div class="form-group col-md-6">
            <small><%= f.label :last_name_kana, "セイ" %><span class="badge badge-danger ml-2">必須</span></small>
            <%= f.text_field :last_name_kana, placeholder:"タナカ", required:true, class:"form-control" %>
            <div class="invalid-feedback">入力されていません</div>
          </div>
          <div class="form-group col-md-6">
            <small><%= f.label :first_name_kana, "メイ" %><span class="badge badge-danger ml-2">必須</span></small>
            <%= f.text_field :first_name_kana, placeholder:"タロウ", required:true, class:"form-control" %>
            <div class="invalid-feedback">入力されていません</div>
          </div>
        </div>
        <div class="form-group was-validated">
          <small><%= f.label :nickname, "ニックネーム", class:"col-form-label" %><span class="badge badge-danger ml-2">必須</span></small>
          <%= f.text_field :nickname, placeholder:"ニックネームを入力", required:true, class:"form-control" %>
            <div class="invalid-feedback">入力されていません</div>
        </div>
        <div class="form-row was-validated">
          <div class="form-group col-md-6">
            <small><%= f.label :age, "年齢", class:"col-form-label" %><span class="badge badge-danger ml-2">必須</span></small>
            <%= f.select :age, (18..100).to_a, {}, class:"d-inline form-control", required:true, style:"width:100%" %>
            <div class="invalid-feedback">入力されていません</div>
          </div>
          <div class="form-group col-md-6">
            <small><%= f.label :sex, "性別", class:"col-form-label" %><span class="badge badge-danger ml-2">必須</span></small>
            <%= f.select :sex, EndUser.sexes_i18n.invert, {}, class:"form-control", required:true, style:"width:100%" %>
            <div class="invalid-feedback">入力されていません</div>
          </div>
        </div>
        <div class="form-group was-validated">
          <small><%= f.label :activity_area, "主な活動エリア", class:"col-form-label" %><span class="badge badge-danger ml-2">必須</span></small>
          <%= f.select :activity_area, EndUser.activity_areas_i18n.invert, {}, class:"form-control", required:true, style:"width:70%" %>
            <div class="invalid-feedback">入力されていません</div>
        </div>
        <div class="form-group was-validated">
          <small><%= f.label :email, "メールアドレス", class:"col-form-label" %><span class="badge badge-danger ml-2">必須</span></small>
          <%= f.email_field :email, autocomplete: "email", placeholder:"sample@sample.com", required:true, class:"form-control" %>
            <div class="invalid-feedback">入力されていません</div>
        </div>
        <div class="form-group">
          <small><%= f.label :introduction, "自己紹介", class:"col-form-label" %></small>
          <%= f.text_area :introduction, rows:"8", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :is_deleted, '会員ステータス', class:"col-form-label mr-5" %>
          <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", class: "text-success mr-5" %>
					<%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会済み", class: "text-danger" %>
        </div>
        <div class="row justify-content-center">
          <%= f.submit "変更を保存する", class:"btn btn-info mx-5 my-2 py-2", style:"width:45%" %>
        </div>
      </div>
    </div>
   <% end %>
</div>