<div class="container py-5">
  <div class="row m-4">
    <h3>あなたへのメッセージ</h3>
  </div>
  <% if @notifications.exists? %>
    <ul class="list-group">
      <% @notifications.each do |notification| %>
        <li class="list-group-item p-3">
          <div class="mx-2"><small><%= notification.created_at.strftime("%Y/%m/%d\ %R") %></small></div>
          <div class="mx-2">
            <%= link_to end_user_path(notification.visitor),class:"text-start"  do %>
              <%= image_tag notification.visitor.get_profile_image(30, 30), class: "img-thumbnail rounded-circle" %>
              <span class="text-info"><%= notification.visitor.nickname %></span>
            <% end %>
          さん が
          <% if notification.action == 'invitation' %>
            あなたを
            <%= link_to community_path(notification.community) do %>
              <%= image_tag notification.community.get_community_image(30, 30), class: "img-thumbnail rounded-circle" %>
              <span class="text-info"><%= notification.community.name %></span>
            <% end %>
            に招待しています!!
          </div>
          <% elsif notification.action == 'join' %>
            <%= link_to community_path(notification.community) do %>
              <%= image_tag notification.community.get_community_image(30, 30), class: "img-thumbnail rounded-circle" %>
              <span class="text-info"><%= notification.community.name %></span>
            <% end %>
            に参加しました！！
          </div>
          <% elsif notification.action == 'post' %>
            <%= link_to community_path(notification.community) do %>
              <%= image_tag notification.community.get_community_image(30, 30), class: "img-thumbnail rounded-circle" %>
              <span class="text-info"><%= notification.community.name %></span>
            <% end %>
            に、
            <%= link_to community_topic_path(notification.community, notification.topic) do %>
              <span class="text-info"><%= notification.topic.title %></span>
            <% end %>
            を投稿しました！
          </div>
          <% elsif notification.action == 'follow' %>
            さん が あなたをフォローしました！
          </div>
          <% end %>
          <div class="text-right"><small class="text-muted"><%= time_ago_in_words(notification.created_at) %>前</small></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h5> メッセージは届いていません。</h5>
  <% end %>
  <%= paginate @notifications %>
</div>