<div class="container py-5">
  <div class="row m-4">
    <h3>あなたへのコミュニティ参加オファー</h3>
  </div>
  <% if @notifications.exists? %>
    <div class="row my-4">
      <table class="table">
        <% @notifications.each do |notification| %>
          <tr>
            <td class="col-1 align-middle"><%= notification.created_at.strftime("%Y/%m/%d %R") %></td>
            <td class="col-9 align-middle"><%= notification.visitor.nickname %>さん&ensp;から&ensp;"<strong><%= notification.community.name %></strong>"&ensp;コミュニティへの招待が届きました!!</td>
            <td class="col-2 align-middle text-center">
              <div><%= link_to '詳細へ', community_path(notification.community), class:"btn btn-info m-2" %></div>
              <% if notification.community.already_joined?(current_end_user) %>
                <p><%= 'すでに参加済みです' %></p>
              <% else %>
                <div><%= link_to '参加する', community_community_users_path(notification.community.id), method: :post, class: "btn btn-success m-2" %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <div class="row m-4">
      <h5> メッセージは届いていません。</h5>
    </div>
  <% end %>
  <%= paginate @notifications %>
</div>