<div class="container">
  <div class="row m-4">
    <h2>コメント一覧</h2>
  </div>

  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <th>ID</th>
        <th>タイトル</th>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>トピック名</th>
        <th></th>
      </thead>
      <tbody>
        <% @topic_comments.each do |topic_comment| %>
          <tr>
            <td><%= topic_comment.id %></td>
            <td><%= topic_comment.comment.truncate(25) %></td>
            <td><%= link_to "#{topic_comment.end_user.last_name + topic_comment.end_user.first_name}", admin_end_user_path(topic_comment.end_user) %></td>
            <td><%= topic_comment.created_at.strftime("%Y/%m/%d\ %R") %></td>
            <td><%= link_to "#{topic_comment.topic.title.truncate(15)}", admin_community_topic_path(topic_comment.topic.community, topic_comment.topic) %></td>
            <td><%= link_to "詳細", admin_community_topic_path(topic_comment.topic.community, topic_comment.topic), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>

</div>
