<table class="table">
  <% topic.topic_comments.each do |comment| %>
    <tr>
      <td class="col-2 col-md-1  text-center">
        <% if comment.is_active %>
          <%= link_to end_user_path(comment.end_user) do %>
            <%= image_tag comment.end_user.get_profile_image(70, 70), class:"rounded-circle" %>
          <% end %>
        <% end %>
      </td>
      <td class="col-10 col-md-11">
        <% if comment.is_active %>
          <span class="text-info"><%= comment.end_user.nickname %></span><br>
          <small><%= comment.created_at.strftime("%Y/%m/%d\ %R") %></small><br>
          <%= comment.comment %>
        <% else %>
          <span>このコメントは管理者によって不適切と判定されました。</span>
        <% end %>
        <div class="row justify-content-end align-items-center mx-2">
          <% if current_end_user.id == comment.end_user_id %>
            <%= link_to '削除', community_topic_topic_comment_path(comment.topic.community,comment.topic,comment), method: :delete, remote: true, data: {confirm: "コメントを削除しますか？"}, class:"btn btn-sm btn-danger mx-2" %>
          <% end %>
          <span id="good-buttons-<%= comment.id %>"><%= render 'public/goods/good_btn', comment: comment %></span>
        </div>
      </td>

    </tr>
  <% end %>
</table>